/* Index */
* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
}

a {
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
	a:hover {
		color: #C9E3FF;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

h1 {
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 0;
}

h2 {
	font-weight: 300;
	clear: both;
	line-height: 30px;
	margin: 0;
}

h5, ul li {
	clear: both;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}

ul li {
	margin-top: 10px;
}

figure img {
	width: 150%;
	margin-left: -25%;
}

nav {
	top: 0;
	color: white;
	padding: 20px 0;
	width: 100%;
	z-index: 100;
	position: absolute;
}
	nav a {
		line-height: 20px;
		font-size: 16px;
		color: white;
	}
	nav h2 {
		display: inline-block;
	}

.background {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 100%;
	min-height: 100%;
	background: url(../images/main/triangles.svg);
}
	.background p {
		font-size: 25px;
	}
	.background h1 {
		font-size: 70px;
		line-height: 70px;
	}
	.background .overlay {
		background: rgba(0, 0, 0, 0.20);
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	.background .text {
		display: table;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.background .text .inner {
		text-align: center;
		width: 640px;
		display: table-cell;
		vertical-align: middle;
		color: white;
	}
	.background span {
		color: white;
		opacity: 0.5;
		font-size: 30px;
		bottom: 30px;
		position: absolute;
	}

.bounce {
	-moz-animation: bounce 2s infinite;
  	-webkit-animation: bounce 2s infinite;
  	animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

.nav-left {
	float: left;
	margin-left: 5%;
}
	.nav-left a {
		margin-right: 40px;
	}

.nav-right {
	float: right;
	margin-right: 5%;
}
	.nav-right a {
		margin-left: 40px;
	}
		.nav-right a:first-child {
			margin-left: 0px;
		}
	.nav-right h2 {
		display: inline-block;
	}
	.nav-right img {
		width: 40px;
		display: inline-block;
	}

.wrapper {
	width: 600px;
	margin: 100px auto;
}

.footer {
	width: 100%;
	background: #005391;
	color: white;
	display: table;
	padding: 20px 0;
}
	.footer a {
		color: white;
	}
	.footer a:hover {
		color: #C9E3FF;
	}
	.footer h5, .footer ul li, ul .footer li {
		margin-top: 20px;
	}

.title {
	margin-bottom: 300px;
	position: relative;
}

#projects {
	width: 800px;
	margin: 0 auto;
	margin-top: 150px;
	text-align: center;
}
	#projects img {
		width: 800px;
	}
	#projects .banner-text {
		color: black;
	}

/* Main page */
#nameplate {
	padding-top: 10%;
	height: 50%;
	margin: 0 auto;
	margin-bottom: 20%;
	text-align: center;
}
	#nameplate figure {
		margin-top: 0;
		margin: 0 auto;
	}
		#nameplate figure img {
			width: 200px;
			margin: 0 auto;
			border-radius: 50%;
		}

/* iPad Media Queries */
@media (max-width : 1024px) and (min-width : 768px) {
	.wrapper {
		width: 80%;
		margin-top: 50px;
	}

	.nav-left, .nav-right {
		float: none;
		text-align: center;
		margin-right: 0;
	}
}

/* iPhone Media Queries */
@media (max-width : 667px) {
	#nameplate {
		margin-bottom: 50%;
	}

	#projects, #projects img {
		width: 100%;
	}

	figure, figure img {
		width: 100%;
		margin: 0;
	}

	h2 {
		font-size: 17.5px;
	}

	nav {
		padding: 50px 0; 
	}
		nav h2 {
			font-size: 20px;
		}

	.background p {
		font-size: 20px;
	}
	.background h1 {
		font-size: 45px;
		line-height: 45px;
	}

	.title {
		margin-bottom: 25%;
	}

	.wrapper {
		width: 80%;
		margin: 0px auto 30px auto;
	}

	.nav-left, .nav-right {
		float: none;
		text-align: center;
		margin-right: 0;
	}
}
